<%- include('../0partials/01head'); -%>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h1 class="page-header">
                            Content Tasks
                        </h1>

                        <ol class="breadcrumb">
                          <li>Crawl Content</li>
                          <li><a href="/admin/crawlcontent/tasks">Content Tasks</a></li>
                        </ol>

                        Tasks for extracting content from queued links.

                    </div>
                </div>
                <!-- /.row -->

                <div class="clearfix">&nbsp;</div>
                <div class="row">

                    <!-- table -->
                    <div class="col-lg-12">
                        <table class="table table-stripped table-hover table-condensed table-bordered">
                            
                            <tr>
                                <th title="content task ID">id</th>
                                <th title="content task name">name</th>
                                <th title="linkQueue collection">link queue</th>
                                <th title="CSS selectors for extracting data">extracted data</th>
                                <th>cron</th>
                                <th title="cron job status: on or off">status</th>
                                <th style="width:130px">action</th>
                            </tr>


                            <% tasks.forEach(function (elem) { %>
                            <tr style="font-size:smaller">
                              <td><%= elem.id %></td>
                              <td><%= elem.name %></td>
                              <td><%= elem.linkQueue %></td>
                              <td>
                                <% elem.selectors.forEach(function (elem) { %>
                                  <%= elem.name %>,
                                <% }); %>
                              </td>
                              <td><%= elem.cron %></td>
                              <td><%= elem.status %></td>

                              <td>
                                
                                <a href="/admin/crawlcontent/tasks/delete/<%= elem.id %>" class="fa fa-trash deleteTask" title="delete"></a>
                                <a href="/admin/crawlcontent/tasks/edit/<%= elem.id %>" class="fa fa-pencil-square-o editTask" title="edit"></a>
                                <a href="/admin/crawlcontent/tasks/start/<%= elem.id %>" class="fa fa-play crawlStart" title="crawl now" data-taskid="<%= elem.id %>"></a>
                                <a href="/admin/crawlcontent/results/?q=&amp;taskName=<%= elem.name %>&amp;currentPage=1" class="fa fa-eye" title="see results" data-taskid="<%= elem.id %>"></a>
                              
                              </td>

                            </tr>
                            <% }); %>

                        </table>


                        <div class="clearfix">&nbsp;</div><br>

                        <!-- delete all documents -->                        
                        <a href="/admin/crawlcontent/tasks/delete/all" class="btn btn-danger btn-sm"  id="deleteAll">Delete All</a>
                        <a href="/admin/crawlcontent/tasks/disable" class="btn btn-info btn-sm">Disable All</a>
                        <a href="/admin/crawlcontent/tasks" class="btn btn-info btn-sm" id="insertTask">Insert New</a>

                    </div>

                </div><!-- /.row -->

                
                <!-- insert/update form -->
                <div class="row">

                    <div class="col-sm-10 col-sm-offset-1 lightbox" id="lightbox-form">

                        <span class="fa fa-times-circle close lightbox-close"></span>


                        <% //define form action value
                          var act, tit;
                          if (task.id !== undefined) {
                            act = '/admin/crawlcontent/tasks/update/' + task.id;
                            tit = 'Edit Task';
                          } else {
                            act = '/admin/crawlcontent/tasks/insert';
                            tit = 'Insert New Task';
                          }
                      %>

                        <h3><%= tit %></h3>

                        <form action="<%= act %>" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                            
                        <div class="form-group">
                          <label for="id" class="col-sm-3 control-label" title="Task id number. Readonly value.">ID:</label>
                          <div class="col-sm-2">
                            <input type="text" name="id" id="id" value="<%= task.id %>" class="form-control" readonly>
                          </div>
                        </div>


                        <div class="form-group">
                            <label for="linkQueue" class="col-sm-3 control-label" title="Select linkQueue for this task.">Link Queue:</label>
                            <div class="col-sm-4">
                              <select name="linkQueue" id="linkQueue" class="form-control">
                                  <option value=""></option>

                                <% linkQueue_colls.forEach(function(elem){ %>
                                  <option value="<%= elem.collectionName %>" <%= (elem.collectionName === task.linkQueue) ? 'selected' : '' %> ><%= elem.collectionName %></option>
                                <% }); %>

                              </select>
                            </div>
                            <div class="col-sm-5">
                              <p id="linkResults"></p>
                            </div>
                        </div>


                        <div class="form-group">
                          <label for="name" class="col-sm-3 control-label" title="Task name for extracting content.">Name:</label>
                          <div class="col-sm-7">
                            <input type="text" name="name" id="name" value="<%= task.name %>" class="form-control" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="description" title="Short description of this task. Example: Grab content links from adsuu.com in business category - pagination from 1 to 25.">Description:</label>
                          <div class="col-sm-7">
                            <textarea name="description" id="description" class="form-control" rows="2" required><%= task.description %></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="category" class="col-sm-3 control-label" title="Select category for this task.">Category:</label>
                            <div class="col-sm-4">
                              <select name="category" id="category" class="form-control">
                                    <option value="">All</option>

                                  <% cats.forEach(function(elem){ %>
                                    <option value="<%= elem.id %>" <%= (task.category == elem.id ) ? 'selected' : ''; %> ><%= elem.category %> (<%= elem.id %>)</option>
                                  <% }); %>
                              </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="subcategory" class="col-sm-3 control-label" title="Select subcategory relevant to selected category.">Subcategory:</label>
                            <div class="col-sm-4">
                              <select name="subcategory" id="subcategory" class="form-control">

                              </select>
                            </div>
                        </div>


                        <!-- crawl settings -->
                        <div class="col-sm-5 col-sm-offset-1">
                          <h4>Crawl settings</h4>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="form-group">
                          <label for="crawlInterval" class="col-sm-3 control-label" title="Set the crawling interval between two crawlings in miliseconds. It's crawling speed.">Crawl Interval:</label>
                          <div class="col-sm-2">
                            <input type="text" name="crawlInterval" id="crawlInterval" value="<%= task.crawlInterval %>" class="form-control" required>
                          </div>
                          <label class="control-label">ms</label>
                        </div>

                        <div class="form-group">
                          <label for="poolScript" class="col-sm-3 control-label" title="Select script which will call links to be crawled.">Pooling Script:</label>
                          <div class="col-sm-4">
                            <select name="poolScript" id="poolScript" class="form-control">

                                <% poolingFiles.forEach(function(elem){ %>
                                <option value="<%= elem %>" <%= (task.poolScript == elem ) ? 'selected' : ''; %> ><%= elem %></option>
                                <% }); %>

                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="httpclientScript" class="col-sm-3 control-label" title="Select script where HTTP Client is defined.">HTTP Client Script:</label>
                          <div class="col-sm-4">
                            <select name="httpclientScript" id="httpclientScript" class="form-control">

                                <% httpclientFiles.forEach(function(elem){ %>
                                <option value="<%= elem %>" <%= (task.httpclientScript == elem ) ? 'selected' : ''; %> ><%= elem %></option>
                                <% }); %>

                            </select>
                          </div>
                        </div>
                        <!-- crawl settings END -->




                        <!-- cron settings -->
                        <div class="col-sm-5 col-sm-offset-1">
                          <h4>Cron settings</h4>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="form-group">
                          <label for="cron" class="col-sm-3  control-label" title="Cron job schedule. Example: 0 17 ? * 0,4-6">Cron:</label>
                          <div class="col-sm-8">
                            <input type="text" name="cron" id="cron" value="<%= task.cron %>" class="form-control" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="status" class="col-sm-3 control-label" title="If you want cron job to become active select 'On'. Otherwise select 'Off'.">Cron Status:</label>
                          <div class="col-sm-2">
                            <select name="status" id="status" class="form-control">
                              <option value="1" <%= (task.id !== undefined && task.status == 1 ) ? 'selected' : ''; %> >On</option>
                              <option value="0" <%= (task.id !== undefined && task.status == 0 ) ? 'selected' : ''; %> >Off</option>
                            </select>
                          </div>
                        </div>
                        <!-- cron settings END -->
                        


                        <!-- selectors -->
                        <div class="col-sm-12"  id="selectors">

                          <div class="form-group">
                            <label for="" class="col-sm-3 control-label" title="Define CSS selectors in name=value pair.">Selectors:</label>
                            <div class="col-sm-2">
                              <button class="btn btn-success btn-sm" title="Add new name=value pair" id="addSel">Add new selector</button>
                            </div>
                          </div>                          
                          



                          <% //when INSERT NEW TASK
                           if (task.id === undefined) { 
                          %>

                          <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-3">
                              <select name="selectorType[]" class="form-control">
                                <option value="text">text</option>
                                <option value="html">html</option>
                                <option value="href">url or href attribute</option>
                                <option value="src">image or src attribute</option>
                              </select>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" name="selectorName[]" value="title" class="form-control" placeholder="name" required>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" name="selectorValue[]" value="" class="form-control" placeholder="value" required>
                            </div>
                            <div class="col-sm-1">
                              <label for="" class="col-sm-3 control-label fa fa-times-circle remSel" title="Delete this selector"></label>
                            </div>
                          </div>
  
                          <div class="form-group">                          
                            <div class="col-sm-2 col-sm-offset-3">
                              <select name="selectorType[]" class="form-control">
                                <option value="text">text</option>
                                <option value="html">html</option>
                                <option value="href">url or href attribute</option>
                                <option value="src">image or src attribute</option>
                              </select>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" name="selectorName[]" value="description" class="form-control" placeholder="name" required>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" name="selectorValue[]" value="" class="form-control" placeholder="value" required>
                            </div>
                            <div class="col-sm-1">
                              <label for="" class="col-sm-3 control-label fa fa-times-circle remSel" title="Delete this selector"></label>
                            </div>
                          </div>

                          <div class="form-group"> 
                            <div class="col-sm-2 col-sm-offset-3">
                              <select name="selectorType[]" class="form-control">
                                <option value="text">text</option>
                                <option value="html">html</option>
                                <option value="href">url or href attribute</option>
                                <option value="src">image or src attribute</option>
                              </select>
                            </div>                         
                            <div class="col-sm-2">
                              <input type="text" name="selectorName[]" value="price" class="form-control" placeholder="name" required>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" name="selectorValue[]" value="" class="form-control" placeholder="value" required>
                            </div>
                            <div class="col-sm-1">
                              <label for="" class="col-sm-3 control-label fa fa-times-circle remSel" title="Delete this selector"></label>
                            </div>
                          </div>

                          <% 
                            } else { //when UPDATE TASK
                              var propArr, selectorName, selectorValue;
                              task.selectors.forEach(function (elem, key) {

                                selType = elem.type;
                                selName = elem.name;
                                selValue = elem.value;
                          %>

                          <div class="form-group">                          
                            <div class="col-sm-2 col-sm-offset-3">
                              <select name="selectorType[]" class="form-control">
                                <option value="text" <%= (selType === 'text') ? 'selected' : '' %> >text</option>
                                <option value="html" <%= (selType === 'html') ? 'selected' : '' %> >html</option>
                                <option value="href" <%= (selType === 'href') ? 'selected' : '' %> >url or href attribute</option>
                                <option value="src" <%= (selType === 'src') ? 'selected' : '' %> >image or src attribute</option>
                              </select>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" name="selectorName[]" value="<%= selName %>" class="form-control" required>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" name="selectorValue[]" value="<%= selValue %>" class="form-control" required>
                            </div>
                            <div class="col-sm-1">
                              <label for="" class="col-sm-3 control-label fa fa-times-circle remSel" title="Delete this selector"></label>
                            </div>
                          </div>

                          <%
                              }); //forEach end
                            } //else end
                          %>

                        </div>
                        <!-- selectors end -->
                        

                        <div class="clearfix">&nbsp;</div>

                        <div class="form-group">
                          
                          <div class="col-sm-4 col-sm-offset-3">
                            <input type="submit" value="<%= (task.id !== undefined) ? 'Update' : 'Insert'; %>" class="btn btn-info btn-lg">
                          </div>

                          <% if (task.id !== undefined) { %>
                            <div class="col-sm-4">
                              <input type="submit" value="Insert Simmilar" class="btn btn-info btn-lg" formaction="/admin/crawlcontent/tasks/insert">
                            </div>
                          <% } %>

                        </div>

                        </form>
                    </div>

                </div><!-- .row end -->
                <!--  insert/update form end -->


                <!-- delete task -->
                <div class="row">
                  <div class="col-sm-4 col-sm-offset-4 lightbox" id="lightbox-delete">
                    <span class="fa fa-times-circle close lightbox-close"></span>
                    <p>Do you want to delete this task?</p>
                    <br>
                    <a href="" id="deleteTaskYes" class="btn btn-danger">Yes</a>
                    <button id="deleteTaskNo" class="btn btn-warning lightbox-close">No, thanks</button>
                  </div>
                </div>
                <!-- delete task end -->


                <!-- lightbox crawling console -->
                <div class="row">
                  <div class="col-sm-12 lightbox" id="lightbox-console">
                    <span class="fa fa-times-circle close lightbox-close"></span>
                    <h3>Crawl results</h3>
                    <iframe src="" frameborder="1"></iframe>
                  </div>
                </div>
                <!-- lightbox crawling console end-->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    

    <%- include('../0partials/15js_static'); -%>

<script>
/* Bootstrap tooltip activation */
$(document).ready(function(){
   
   var options = {
    placement: "right",
    delay: 200
   };

   /*
    * tooltip apper on dynamically created elements
    * for example: <label for="" class="col-sm-3 control-label fa fa-times-circle remSel" title="Delete this selector"></label>
    */
   $(document).on('mouseover', 'label, a.fa, button', function () {
      $(this).tooltip(options);
   });
   
});
</script>

<script>
  //Adding new selector e.g. name=value pair
  $('#addSel').on('click', function (event) {
    event.preventDefault();
    
    var htmlCode = '\
    <div class="form-group">\
      <div class="col-sm-2 col-sm-offset-3">\
        <select name="selectorType[]" class="form-control">\
          <option value="text">text</option>\
          <option value="html">html</option>\
          <option value="href">url or href attribute</option>\
          <option value="src">image or src attribute</option>\
        </select>\
      </div>\
      <div class="col-sm-2">\
        <input type="text" name="selectorName[]" value="" class="form-control" placeholder="name" required>\
      </div>\
      <div class="col-sm-4">\
        <input type="text" name="selectorValue[]" value="" class="form-control" placeholder="value" required>\
      </div>\
      <div class="col-sm-1">\
        <label for="" class="col-sm-3 control-label fa fa-times-circle remSel" title="Delete this selector"></label>\
      </div>\
    </div>';

    $('#selectors').append(htmlCode);
  });



  //removing selector e.g. name=value pair
  $(document).on('click', '.remSel', function () { //works on dynamically created .remSel elements
    $(this).parents().eq(1).fadeOut(1200, function () { //fadeOut HTML tag
      $(this).remove(); //remove HTML tag
    });
    console.log('okk');
  });

</script>


<script>
//show link to crawling results
$('#linkQueue').change(function () {

  var linkQueue_val = $(this).val();

  if (linkQueue_val !== '') {
    var taskName = linkQueue_val.replace('linkQueue_', '');
    $('#linkResults')
      .html('<a href="/admin/crawllinks/resultsiteration/?q=&taskName=' + taskName + '&currentPage=1" target="_blank">Preview links for <b>' + taskName + '</b> task!</a>')
      .hide()
      .fadeIn(1500);

    //set name value
    $('#name').val(taskName);
  } else {
    $('#linkResults').fadeOut(1500);
  }

});
</script>


<script>
/* append relevant subcategories into SELECT tag */
  $(document).ready(function(){

    //option tag for task to edit
    var task = <%- JSON.stringify(task, null, 2) %>; //sent from links.js controller file
    if (task.subcategory !== undefined) {
      $('#subcategory').html('<option value="' + task.subcategory + '"> (' + task.subcategory + ') </option>');
    }

    $('#category').change(function(){
      var val = $(this).val();
      var cats = <%- JSON.stringify(cats, null, 2) %>; //'cats' comes from links_iterateurl.ejs
      
      $('#subcategory > option').remove();

      // console.log(JSON.stringify(cats[val].subcats, null, 2));
      if (cats[val] !== undefined) {
        cats[val].subcats.forEach(function (elem, index) {

          $('#subcategory').append('<option value="' + index + '">' + elem + '(' + index + ')' + '</option>');
          // console.log(elem);
        });
      }

      $('#subcategory').prepend('<option value="" selected>All</option>');

    });

  });
</script>



<script>
/*LIGHTBOX*/

//lightbox function
var lightbox = function (sel) {
  
  //width and height of browser's window
  var bw = $(window).width();
  var bh = $(window).height();

  //colorize DIV background
  var cssOpt = {
    "width": bw + "px !important",
    "height": bh + 'px !important',
    "position": "absolute",
    "top": "0px",
    "left": "0px"
  }

  $(sel).fadeIn(2200).css(cssOpt);
};


$(document).ready(function () {
  
  /* Show form for inserting task */
  var sel1 = "#lightbox-form"; //selector to be affected by lightbox function
  $(sel1).hide();
  $('#insertTask').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    lightbox(sel1);
  });


  /* Show delete one task buttons */
  var sel2 = "#lightbox-delete"; //selector to be affected by lightbox function
  $(sel2).hide();
  $('.deleteTask').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    
    var href = $(this).attr('href');
    $('#deleteTaskYes').attr('href', href);
    
    lightbox(sel2);
  });


  /* Show delete all tasks buttons */
  var sel2 = "#lightbox-delete"; //selector to be affected by lightbox function
  $(sel2).hide();
  $('#deleteAll').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    
    var href = $(this).attr('href');
    $('#deleteTaskYes').attr('href', href);

    $(sel2 + '>p').text('Do you want to delete all tasks?');
    
    lightbox(sel2);
  });


  /* Show form for editing/updating task */
  //change URL
  $('.editTask').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    var href = $(this).attr('href');
    window.location.href = href;
  });
  //show form in lightbox if URL contains word 'edit'
  if (window.location.href.indexOf('edit') !== -1 ) { 
    lightbox(sel1);
  }

  /* Show crawl console */
  var sel3 = '#lightbox-console';
  $(sel3).hide();
  $('.crawlStart').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    
    lightbox(sel3);

    //start crawling by adding URL into iframe's SRC attribute
    var taskID = $(this).attr('data-taskid');
    $('.lightbox > iframe').attr('src', '/admin/crawlcontent/tasks/start/' + taskID);
  });



  /* hide lightbox */
  $('.lightbox-close').on('click', function () {
    $(this).parent().fadeOut();
    window.location.href = '/admin/crawlcontent/tasks'; //reset URL
  });

});

</script>


</body>

</html>
