<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../0partials/01head'); -%>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Itarate Pagination Results
                        </h1>
                        
                        <ol class="breadcrumb">
                          <li>Crawl Links</li>
                          <li><a href="/admin/crawllinks/results">Crawling Results</a></li>
                          <li><a href="/admin/crawllinks/resultsiteration">Iterate Pagination Results</a></li>
                        </ol>
                        Here are crawled links extracted by iterate-pagination method.

                    </div>
                </div>

                <div class="clearfix">&nbsp;</div>
                <br><br>

                <div class="row">
                    <div class="col-sm-12">

                            <!-- FORM -->
                            <form action="/admin/crawllinks/resultsiteration" method="POST" enctype="application/<x-www->    </x-www->form-urlencoded" class="form-horizontal">

                                <div class="form-group">
                                    <label for="q" class="col-sm-2  control-label" >Filter results:</label>
                                    
                                    <div class="col-sm-5">
                                      <input type="text" name="q" id="q" value="" class="form-control" title="Insert search term to filter results">
                                    </div>

                                    <div class="col-sm-2">
                                        <select name="taskName" id="taskName" class="form-control" title="Select iterating method task">
                                            <option value="">SELECT TASK</option>
                                            <% tasks.forEach(function (elem) { %>
                                                <option value="<%= elem.name %>"><%= elem.name %> (id: <%= elem.id %>)</option>
                                            <% }); %>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <input type="submit" value="Search" class="btn btn-default">
                                    </div>

                                </div>
    
                            </form>
                            <!-- FORM end -->

                    </div>
                </div>


                <div class="row">
                    <div class="well">
                        <p>Search results: <b><%= pagination.countNum %></b></p>

                        <!-- results displayed in Bootstrap Accordition -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          
                        <%
                          var i = 0;
                          queue.forEach(function (elem) { 
                        %>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<%= i %>">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
                                  <%= i+1+pagination.perPage*(pagination.currentPage-1) %>. <%= elem.pageURL %> <span style="font-size: 12px; color:#8D8D8D;">(<%= elem.dateTime %>)</span>
                                </a>
                              </h4>
                            </div>
                            <div id="collapse<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= i %>">
                              <div class="panel-body">
                        
                                <%
                                  var j = 1;
                                  elem.links.forEach(function (elem2) { 
                                %>
                                    <%= j %>. <a href="<%= elem2.href %>" target="_blank"><%= elem2.tekst %></a> <br>
                                <%
                                  j++;
                                  }); 
                                %>
                        
                              </div>
                            </div>
                          </div>
                        
                        <% 
                           i++;
                           });
                        %>
                        
                        </div>
                        <!-- results displayed in Bootstrap Accordition END -->

                        <!-- Pagination -->
                        <nav>
                          <ul class="pagination">
                            <li><a href="<%= pagination.pagesPreURI + '1' %>"> &laquo;</a></li>
        
                            <% 
                            pagination.currentPage = parseInt(pagination.currentPage); //convert string into number
                            
                            pagination.pages_arr.forEach(function(elem){
                              var hclass;
                              if (elem === pagination.currentPage) {
                                hclass = 'class="active"';
                              } else {
                                hclass = '';
                              }
                            %>
        
                              <li <%- hclass %>><a href="<%= pagination.pagesPreURI + elem %>"><%= elem %></a></li>
                            
                            <% }); %>
        
                            <li><a href="<%= pagination.pagesPreURI + pagination.pagesTotal %>"> &raquo;</a></li>
                          </ul>
                        </nav>
                        <!-- Pagination END -->

                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    


<script>

$(document).ready(function(){
 //$("input[name='first_name']").focus();
 $("*").tooltip();

});
</script>
</body>

</html>
