<%- include('../0partials/01head'); -%>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h1 class="page-header">
                            Iterate Pagination
                        </h1>

                        <ol class="breadcrumb">
                          <li>Crawl Links</li>
                          <li><a href="/admin/crawllinks/tasks">Crawling Tasks</a></li>
                          <li><a href="/admin/crawllinks/tasksiteration">Iterate Pagination</a></li>
                        </ol>

                        This method is using iteration through pagination links to extract content links.
                        <br>Create new tasks, delete, edit, test or start strawling here.

                    </div>
                </div>
                <!-- /.row -->

                <div class="clearfix">&nbsp;</div>
                <div class="row">

                    <!-- table -->
                    <div class="col-lg-12">
                        <table class="table table-stripped table-hover table-condensed table-bordered">
                            
                            <tr>
                                <th>id</th>
                                <th>category</th>
                                <th>name</th>
                                <th>iteratingURL</th>
                                <th>cron</th>
                                <th>status</th>
                                <th style="width:100px">action</th>
                            </tr>

                            
                            <% tasks.forEach(function (elem) { %>
                            <tr style="font-size:smaller">
                              <td><%= elem.id %></td>
                              <td><%= elem.category %></td>
                              <td><%= elem.name %></td>
                              <td><%= elem.iteratingurl %></td>
                              <td><%= elem.cron %></td>
                              <td><%= elem.status %></td>

                              <td>
                                
                                <a href="/admin/crawllinks/tasksiteration/delete/<%= elem.id %>" class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="delete"></a>
                                <a href="/admin/crawllinks/tasksiteration/edit/<%= elem.id %>" class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="edit"></a>
                                <a href="/admin/crawllinks/tasksiteration/start/<%= elem.id %>" class="fa fa-play crawl-start" data-toggle="tooltip" data-placement="top" title="crawl now" data-taskid="<%= elem.id %>"></a>
                              
                              </td>

                            </tr>
                            <% }); %>
                            
                        </table>


                        <div class="clearfix">&nbsp;</div><br>

                        <!-- delete all documents -->                        
                        <a href="/admin/crawllinks/tasksiteration/delete/all" class="btn btn-danger btn-sm">Delete All</a>
                        <a href="/admin/crawllinks/tasksiteration/disable" class="btn btn-info btn-sm">Disable All</a>
                        <a href="/admin/crawllinks/tasksiteration" class="btn btn-info btn-sm">Insert New</a>

                    </div>
                    
                    <div class="clearfix">&nbsp;</div><br><br>

                    <!-- form -->
                    <div class="col-lg-12 well">

                    <% //define form action value
                      var act;
                      if (task.id !== undefined) {
                        act = '/admin/crawllinks/tasksiteration/update/' + task.id;
                      } else {
                        act = '/admin/crawllinks/tasksiteration/insert';
                      }
                    %>

                        <form action="<%= act %>" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                            
                        <div class="form-group">
                          <label for="id" class="col-sm-3  control-label" title="Readonly value">ID:</label>
                          <div class="col-sm-3">
                            <input type="text" name="id" id="id" value="<%= task.id %>" class="form-control" readonly>
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="category" class="col-sm-3 control-label" title="Select category for this task.">Category:</label>
                            <div class="col-sm-4">
                              <select name="category" id="category" class="form-control">
                                    <option value="">All</option>

                                  <% cats.forEach(function(elem){ %>
                                    <option value="<%= elem.id %>" <%= (task.category == elem.id ) ? 'selected' : ''; %> ><%= elem.category %> (<%= elem.id %>)</option>
                                  <% }); %>
                              </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="subcategory" class="col-sm-3 control-label" title="Select subcategory relevant to selected category.">Subcategory:</label>
                            <div class="col-sm-4">
                              <select name="subcategory" id="subcategory" class="form-control">

                              </select>
                            </div>
                        </div>

                        <div class="form-group">
                          <label for="name" class="col-sm-3  control-label" title="This will be MongoDB collection name. Dont use empty spaces. Example: adsuu_com_business">Name:</label>
                          <div class="col-sm-8">
                            <input type="text" name="name" id="name" value="<%= task.name %>" class="form-control" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="description" title="Short description of this task. Example: Grab content links from adsuu.com in business category - pagination from 1 to 25.">Description:</label>
                          <div class="col-sm-7">
                            <textarea name="description" id="description" class="form-control" rows="2" required><%= task.description %></textarea>
                          </div>
                        </div>


                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="aselector" title="CSS selector which point to content link. Content link has final content URL. Example: div > p > a.something">aSelector:</label>
                          <div class="col-sm-9">
                            <textarea name="aselector" id="aselector" class="form-control" rows="2" required><%= task.aselector %></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="firsturl" class="col-sm-3  control-label" title="This URL will not pass through FOR javascript loop. Example: http://www.adsuu.com/business-offer/">firstURL:</label>
                          <div class="col-sm-9">
                            <input type="text" name="firsturl" id="firsturl" value="<%= task.firsturl %>" class="form-control" style="font-size:smaller;" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="iteratingurl" class="col-sm-3  control-label" title="Iterating URL. This URL will pass through FOR javascript loop iterating $1 variable. Example: http://www.adsuu.com/business-offer-$1/">iteratingURL:</label>
                          <div class="col-sm-9">
                            <input type="text" name="iteratingurl" id="iteratingurl" value="<%= task.iteratingurl %>" class="form-control" style="font-size:smaller;" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="from$1" class="col-sm-3  control-label" title="Start value of $1 iterating, loop variable. Example: 1">from$1:</label>
                          <div class="col-sm-2">
                            <input type="text" name="from$1" id="from$1" value="<%= (task.id !== undefined) ? task.from$1 : 0; %>" class="form-control" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="to$1" class="col-sm-3  control-label" title="End value of $1 iterating, loop variable. Example: 25">to$1:</label>
                          <div class="col-sm-2">
                            <input type="text" name="to$1" id="to$1" value="<%= (task.id !== undefined) ? task.to$1 : 25; %>" class="form-control" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="cron" class="col-sm-3  control-label" title="Cron job schedule. Example: 0 17 ? * 0,4-6">Cron:</label>
                          <div class="col-sm-9">
                            <input type="text" name="cron" id="cron" value="<%= task.cron %>" class="form-control" required>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="crawlInterval" class="col-sm-3  control-label" title="Set the crawling interval between two crawlings in miliseconds. It's crawling speed.">crawlInterval:</label>
                          <div class="col-sm-2">
                            <input type="text" name="crawlInterval" id="crawlInterval" value="<%= (task.id !== undefined) ? task.crawlInterval : 3000; %>" class="form-control" required>
                          </div>
                          <label class="control-label">ms</label>
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-sm-3 control-label" title="If you want cron job to become active select 'On'. Otherwise select 'Off'.">Status:</label>
                            <div class="col-sm-2">
                              <select name="status" id="status" class="form-control">
                                  <option value="1" <%= (task.id !== undefined && task.status == 1 ) ? 'selected' : ''; %> >On</option>
                                  <option value="0" <%= (task.id !== undefined && task.status == 0 ) ? 'selected' : ''; %> >Off</option>
                              </select>
                            </div>
                        </div>

                        <p class="clearfix">&nbsp;</p>

                        <div class="form-group">
                          <label class="col-sm-3 control-label"></label>
                          <div class="col-sm-4 form-group">
                            <input type="submit" value="<%= (task.id !== undefined) ? 'Update' : 'Insert'; %>" class="btn btn-info btn-lg">
                          </div>

                          <% if (task.id !== undefined) { %>
                          <div class="col-sm-4 form-group">
                            <input type="submit" value="Insert Simmilar" class="btn btn-info btn-lg" formaction="/admin/crawllinks/tasksiteration/insert">
                          </div>
                          <% } %>

                        </div>

                        </form>
                    </div>
                    <!--  form end -->

                    <div class="col-sm-12 lightbox">
                      <span class="fa fa-times-circle close"></span>
                      Console: 
                      <br>
                      <iframe src="" frameborder="1" class="crawl-console">
                        
                      </iframe>
                      
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    

    <%- include('../0partials/15js_static'); -%>

<script>
/* Bootstrap tooltip activation */
  $(document).ready(function(){
   // $("#id").focus();
   var options = {
    placement: "right",
    delay: 800
   };
   $("label, a.fa").tooltip(options);
  });
</script>

<script>
/* append relevant subcategories into SELECT tag */
  $(document).ready(function(){

    //option tag for task to edit
    var task = <%- JSON.stringify(task, null, 2) %>; //sent from links.js controller file
    if (task.subcategory !== undefined) {
      $('#subcategory').html('<option value="' + task.subcategory + '"> (' + task.subcategory + ') </option>');
    }

    $('#category').change(function(){
      var val = $(this).val();
      var cats = <%- JSON.stringify(cats, null, 2) %>; //'cats' comes from links_iterateurl.ejs
      
      $('#subcategory > option').remove();

      // console.log(JSON.stringify(cats[val].subcats, null, 2));
      if (cats[val] !== undefined) {
        cats[val].subcats.forEach(function (elem, index) {

          $('#subcategory').append('<option value="' + index + '">' + elem + '(' + index + ')' + '</option>');
          // console.log(elem);
        });
      }

      $('#subcategory').prepend('<option value="" selected>All</option>');

    });

  });
</script>

<script>

  //lightbox (pop up window)
  var lightbox = function () {
    
    //width and height of browser's window
    var bw = $(window).width();
    var bh = $(window).height();

    //colorize DIV background
    var cssOpt = {
      "background-color": "rgba(255,0,0,0.4)",
      "width": bw + "px !important",
      "height": bh + 'px !important',
      "border": "5px solid Brown",
      "position": "fixed",
      "top": "0px",
      "left": "0px",
      "z-index": 20000
    }
    $('.lightbox').show(1000)
      .css(cssOpt);
    


    console.log(bw + ' , ' + bh);
  };

  //start crawling with console (iframe) output
  $(document).ready(function () {
    $('.lightbox').hide();

    $('.crawl-start').on('click', function (event) {
      event.preventDefault();
      
      lightbox();

      //start crawling by adding URL into iframe's SRC attribute
      var taskID = $(this).attr('data-taskid');
      $('.crawl-console').attr('src', 'http://localhost:3000/admin/crawl/links/iterateurl/nodehttp/' + taskID);
    });

    //close lightbox console
    $('.lightbox .close').on('click', function() {
      $('.lightbox').hide();
    });

  });
</script>

</body>

</html>
