<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../0partials/01head'); -%>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Logs <small><%= logDirName %></small>
                        </h1>
                        
                        <ol class="breadcrumb">
                          <li>Logs</li>
                          <li><a href="/admin/logs/<%= logDirName %>"><%= logDirName %></a></li>
                        </ol>
                    </div>
                </div>
                <!-- Page Heading end -->

                <!-- List Log files -->
                <div class="row">
                    
                    <!-- form -->
                    <form action="/admin/logs/delselected" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="dirPath" value="<%= dirPath %>">
                    <input type="hidden" name="logDirName" value="<%= logDirName %>">

                    <!-- table -->
                    <div class="col-sm-12">
                        <table class="table table-stripped table-hover table-condensed table-bordered">
                            
                            <tr>
                                <th title="selector"><input type="checkbox" id="selAll"></th>
                                <th title="filename">filename</th>
                                <th title="size in MB">size (kB)</th>
                                <th title="permission">modified time</th>
                            </tr>


                            <% logFiles.forEach(function (elem, key) { %>
                            
                            <tr style="font:12px Verdana">
                              <td style="text-align:center"><input type="checkbox" name="fileIndexes[]" value="<%= key %>" class="chkBx"></td>
                              <td><a href="/admin/logs/preview/<%= logDirName %>/<%= elem.filename %>" class="showLog"><%= elem.filename %></a></td>
                              <td><%= elem.size %></td>
                              <td><%= elem.mtime %></td>
                            </tr>

                            <% }); %>

                        </table>
                    </div>

                    <!-- buttons -->
                    <div class="col-sm-7">
                        <input type="submit" value="Delete selected" class="btn btn-warning">
                        <input type="submit" value="Delete all" class="btn btn-danger" formaction="/admin/logs/delall">
                    </div>

                    </form>
                    <!-- form end -->


                </div><!-- row end -->
                <!-- List Log files end -->


                <!-- lightbox show log file -->
                <div class="row">
                  <div class="col-sm-12 lightbox" id="lightbox-console">
                    <span class="fa fa-times-circle close lightbox-close"></span>
                    <h3>
                        Show log file
                        <small id="fileName" style="color:white"></small>
                    </h3>
                    <iframe src="" frameborder="1"></iframe>
                  </div>
                </div>
                <!-- lightbox show log file end-->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    

<script>
//select all checkboxes
$('#selAll').on('click', function () {
    //check if checkbox is checked or not
    var stanje = $(this).is(':checked'); //true | false

    //set checked property
    $('.chkBx').prop('checked', stanje);
});
</script>

<script>
/* LIGHTBOX - show log file in iframe */

/*LIGHTBOX*/

//lightbox function
var lightbox = function (sel) {
  
  //width and height of browser's window
  var bw = $(window).width();
  var bh = $(window).height();

  //CSS options
  var cssOpt = {
    "width": bw + "px !important",
    "height": bh + 'px !important',
    "position": "absolute",
    "top": "0px",
    "left": "0px"
  }

  $(sel).fadeIn(1200).css(cssOpt);
};


$(document).ready(function () {
  
  /* Show log file */
  var sel1 = "#lightbox-console"; //selector to be affected by lightbox function
  $(sel1).hide();
  $('.showLog').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    
    //get filename and put it into console
    var filename = $(this).text();
    $('#fileName').text(filename);

    //get url from a tag and put it into iframe src attribute
    var href = $(this).attr('href');
    $(sel1 + ' iframe').attr('src', href);
    
    /*autorefresh URL*/
    // setInterval(function() {
    //   $(sel1 + ' iframe').attr('src', href);
    // }, 5000);
    

    lightbox(sel1);
  });


  /* hide lightbox */
  $('.lightbox-close').on('click', function () {
    $(this).parent().fadeOut();
    window.location.href = '/admin/logs/<%= logDirName %>'; //reset URL
  });

});
</script>



</body>
</html>
