<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../0partials/01head'); -%>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h1 class="page-header">
                            Test HTTP Client
                        </h1>

                        <ol class="breadcrumb">
                          <li>Tests</li>
                          <li><a href="/admin/tests/httpclient/">Test one URL</a></li>
                        </ol>

                        Use this test to examine how HTTP client extracts content marked with CSS selector.

                    </div>
                </div>
                <!-- Page Heading end -->

                <div class="clearfix">&nbsp;</div>

                <!-- content -->
                <div class="row">
                    
                    <!-- form -->
                    <form action="/admin/tests/httpclient" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">

                        <div class="form-group">
                          <label for="httpclientScript" class="col-sm-3 control-label" title="Select script where HTTP Client is defined.">HTTP Client Script:</label>
                          <div class="col-sm-4">
                            <select name="httpclientScript" id="httpclientScript" class="form-control">

                                <% httpclients.forEach(function(elem){ %>
                                <option value="<%= elem %>"><%= elem %></option>
                                <% }); %>

                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="pageURL" class="col-sm-3 control-label" title="URL to be tested">URL:</label>
                          <div class="col-sm-6">
                            <input type="text" name="pageURL" id="pageURL" value="<%= (req.body.pageURL) ? req.body.pageURL : 'http://' %>" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="data_type" class="col-sm-3 control-label" title="Extracted data type">Data type:</label>
                          <div class="col-sm-2">
                            <select name="data_type" class="form-control">
                              <option value="text" <%= (req.body.data_type === 'text') ? 'selected' : '' %>>text</option>
                              <option value="html" <%= (req.body.data_type === 'html') ? 'selected' : '' %>>html</option>
                              <option value="href" <%= (req.body.data_type === 'href') ? 'selected' : '' %>>url or href attribute</option>
                              <option value="src" <%= (req.body.data_type === 'src') ? 'selected' : '' %>>image or src attribute</option>
                              <option value="attr" <%= (req.body.data_type === 'attr') ? 'selected' : '' %>>any HTML attribute</option>
                            </select>
                          </div>
                        </div> 

                        <div class="form-group">
                          <label for="css_selector" class="col-sm-3 control-label" title="CSS selector">CSS selector:</label>
                          <div class="col-sm-6">
                            <input type="text" name="css_selector" id="css_selector" value="<%= (req.body.css_selector) ? req.body.css_selector : '' %>" class="form-control">
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="col-sm-4 col-sm-offset-3">
                            <input type="submit" value="Extract Data" class="btn btn-info btn-lg">
                          </div>
                        </div>

                    </form>
                    <!-- form end -->

                </div>
                <!-- content end-->

                <div class="clearfix">&nbsp;</div><br><br>

                <!-- iframe console -->
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>Console output:</h3>
                        <pre class="konzola"><%= extractedData %></pre>
                    </div>
                </div>
                <!-- iframe console end -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    




<script>
/* Bootstrap tooltip activation */
$(document).ready(function(){
   
   var options = {
    placement: "right",
    delay: 200
   };

   /*
    * tooltip also will apper on dynamically created elements
    */
   $(document).on('mouseover', 'label', function () {
      $(this).tooltip(options);
   });
   
});
</script>



<script>
/* Start test crwaling - fill IFRAME's src attribute*/
$('#submitBtn').click(function (event) {
  event.preventDefault(); //prevent executing form
  
  //define src value
  var task_id = $('#task_id').val();
  var url = $('#url').val();
  url = encodeURIComponent(url);
  var srcKonzole = '/admin/crawlcontent/test/oneurl/childprocess/' + task_id + '/' + url; 

  $('.konzola').attr('src', srcKonzole);
  // console.log(srcKonzole);
});
</script>


<script>
//fill form field if selector type is 'attr'
var selVal;
$('select[name="data_type"]').change(function () {
  selVal = $(this).val();

  if (selVal === 'attr') {
    $('#css_selector').val('CSSselector, attributeName');
  }

});
</script>


</body>

</html>
