<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../0partials/01head'); -%>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../../0partials/05top_menu'); -%>
            <%- include('../../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h1 class="page-header">
                            Exporter MySQL
                        </h1>

                        <ol class="breadcrumb">
                          <li>Web Robot</li>
                          <li>Exporter</li>
                          <li><a href="/admin/robot/exporter/mysql/">MySQL</a></li>
                        </ol>

                        Export crawled content from MongoDB collection into MySQL table.
                        <br>
                        <span style="font:11px Verdana"><i>Notice:</i> MySQL server can be on the same server where is crawler installed. 
                          In that case use 'localhost'. Otherwise use IP or domain name where is your MySQL server running.</span>

                    </div>
                </div>
                <!-- Page Heading end -->

                <div class="clearfix">&nbsp;</div>
                <br><br>

                <!-- content -->
                <div class="row">
                    
                    <!-- form -->
                    <form action="/admin/robot/exporter/mysql/transfer" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal" autocomplete="off">

                        <div class="form-group">
                          <label for="contentcol" class="col-sm-3 control-label" title="Select content collection.">MongoDB collection:</label>
                          <div class="col-sm-4">
                            <select name="contentcol" id="contentcol" class="form-control">

                                <% contentcolls.forEach(function(elem){ %>
                                <option value="<%= elem.name %>"><%= elem.name %></option>
                                <% }); %>

                            </select>
                          </div>
                        </div>


                        <div class="form-group">
                          <label for="docLimit" class="col-sm-3 control-label" title="Number of documents that will be taken from Mongo and transfered into MySQL">Limit documents to #:</label>
                          <div class="col-sm-2">
                            <input type="text" name="docLimit" id="docLimit" value="2000" class="form-control">
                          </div>
                        </div>


                        <hr>

                        <div class="form-group">
                          <label for="myhost" class="col-sm-3 control-label" title="MySQL hostname or IP address">MySQL host or IP:</label>
                          <div class="col-sm-6">
                            <input type="text" name="myhost" id="myhost" value="192.99.18.15" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="myuser" class="col-sm-3 control-label" title="MySQL username">MySQL username:</label>
                          <div class="col-sm-4">
                            <input type="text" name="myuser" id="myuser" value="crawler_user" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="mypass" class="col-sm-3 control-label" title="MySQL password">MySQL password:</label>
                          <div class="col-sm-4">
                            <input type="text" name="mypass" id="mypass" value="mycr321" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="mydb" class="col-sm-3 control-label" title="MySQL database">MySQL database:</label>
                          <div class="col-sm-4">
                            <input type="text" name="mydb" id="mydb" value="smartsearch" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="mytable" class="col-sm-3 control-label" title="MySQL database">MySQL table:</label>
                          <div class="col-sm-4">
                            <input type="text" name="mytable" id="mytable" value="links" class="form-control">
                          </div>
                        </div>

                        <hr>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Options:</label>
                            <div class="col-sm-5">
                              <label  style="font-weight:normal"><br>
                                <input type="checkbox" name="delcoll" value="1" checked> delete collection (row) from MongoDB after transfer to MySQL (recommended)
                            </label>
                          </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>
                        <br>


                        <div class="form-group">
                          <div class="col-sm-4 col-sm-offset-3">
                            <input type="submit" value="Export Data" class="btn btn-info btn-lg">
                          </div>
                        </div>

                    </form>
                    <!-- form end -->

                </div>
                <!-- content end-->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    




<script>
/* Bootstrap tooltip activation */
$(document).ready(function(){
   
   var options = {
    placement: "right",
    delay: 200
   };

   /*
    * tooltip also will apper on dynamically created elements
    */
   $(document).on('mouseover', 'label', function () {
      $(this).tooltip(options);
   });
   
});
</script>


</body>

</html>
