<!DOCTYPE HTML>
<html lang="hr">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="description" content="<%= desc %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="author" content="AdAm">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
</head>

<body>

<h1><%= title %></h1>

<p><%= p %></p>

<br>
<br>
<br>
<span style="font:12px Verdana;">Advertiser's contact details see <a href="<%= pageURL %>">here</a>.</span>

</body>
</html>
