<%- include('0partials/01head'); -%>

<body> 

<main class="container-fluid">

<%- include('0partials/05header'); -%>

<div class="row">

  <!-- filter -->
  <aside class="col-sm-3 hidden-xs filter">
    <h2><%= cat %></h2>
  

  </aside>
  <!-- filter -->


  <!-- results -->
  <div class="col-sm-9">

    <h2>
      <small>Browse category:</small> <%= cat %>
      <small style="margin-left:30px;">Results: <%= pagination.countNum %></small>
    </h2>

    <div class="list-group">
      
      <% for(var i=0; i<contentDocs.length; i++) { %>
      <div class="list-group-item izlist">

        <!-- ad image -->
        <% if (contentDocs[i].extract.image === undefined || contentDocs[i].extract.image[2] === null) { %>

          <img alt="No Image" src="/images/noimage.jpg">
        <% } else { %>
          <img alt="" src="<%= contentDocs[i].extract.image[2] %>">
        <% } %>
        
        <h4 class="list-group-item-heading">
          <small><%= i+1+pagination.perPage*(pagination.currentPage-1) %>. </small>

          <a href="/<%= urlmod.strToURI(contentDocs[i].extract.title[2]) %>/cid<%= contentDocs[i].cid %>" target="_blank"><%= contentDocs[i].extract.title[2] %></a>
          
          <sup class="badge"><%= contentDocs[i].crawlStatus %></sup>

          <a href="/<%= urlmod.strToURI(contentDocs[i].extract.title[2]) %>/cid<%= contentDocs[i].cid %>" data-pageURL="<%= contentDocs[i].pageURL %>" class="cntLnk"><sup class="glyphicon glyphicon-eye-open" style="font-size:12px;position:relative;top:-6px;color:Silver;"></sup></a>

          <a href="<%= contentDocs[i].pageURL %>" target="_blank"><sup class="glyphicon glyphicon-link" style="font-size:12px;position:relative;top:-6px;color:Silver;"></sup></a>

        </h4>

        <%//decrease description
          var desc = contentDocs[i].extract.description[2];
          var descLength = 250;

          if (desc.length > descLength) {
            desc = desc.substring(0, descLength) + ' ...';
          }
        %>
        <p class="list-group-item-text"><%= desc %></p>
        
        <span><%= contentDocs[i].pageURL.replace('http://', ''); %></span> 
        <span><%= contentDocs[i].crawlDateTime %></span>

      </div>

      <% } %>

    </div>

  </div>
  <!-- results end -->

  <!-- Pagination -->
  <nav class="col-sm-9 col-sm-offset-3">
    <ul class="pagination">
      <li><a href="<%= pagination.pagesPreURI + '1' %>"> &laquo;</a></li>

      <% 
      pagination.currentPage = parseInt(pagination.currentPage); //convert string into number
      
      pagination.pages_arr.forEach(function(elem){
        var hclass;
        if (elem === pagination.currentPage) {
          hclass = 'class="active"';
        } else {
          hclass = '';
        }
      %>

      <li <%- hclass %>><a href="<%= pagination.pagesPreURI + elem %>"><%= elem %></a></li>
                    
      <% }); %>

      <li><a href="<%= pagination.pagesPreURI + pagination.pagesTotal %>"> &raquo;</a></li>
    </ul>
  </nav>
  <!-- Pagination END -->


</div> <!-- row end -->


<!-- lightbox crawling console -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-4 lightbox" id="lightbox-console">
    <span class="glyphicon glyphicon-remove-circle lightbox-close"></span>
    <h3>Preview advert:</h3>
    <iframe src="" frameborder="1"></iframe>
    <br><a href="#" class="btn btn-success btn-lg" id="visitSite" target="_blank">See more ...</a>
  </div>
</div>
<!-- lightbox crawling console end-->


</main>

<script>
/*LIGHTBOX*/

//lightbox function
var lightbox = function (sel, top) {
  
  //width and height of browser's window
  var bw = $(window).width();
  var bh = $(window).height();

  //CSS options
  var cssOpt = {
    "width": bw + "px !important",
    "height": bh + "px !important",
    "position": "absolute",
    "top": top + "px", //scroll not dependant
    "left": "0px"
  }

  $(sel).fadeIn(1200).css(cssOpt);
};


$(document).ready(function () {
  
  /* Show form for inserting task */
  var sel3 = '#lightbox-console';
  $(sel3).hide();
  $('a.cntLnk').click(function (event) {
    event.preventDefault(); //prevent A tag behaviour
    
    var scrollOffset = $(this).offset();

    lightbox(sel3, scrollOffset.top);

    //show advert in iframe by changing iframe's SRC attribute
    var cntHref = $(this).attr('href');
    $('#lightbox-console > iframe').attr('src', cntHref);

    //fill href of 'See more ...' button
    var pageURL = $(this).attr('data-pageURL');
    $('#visitSite').attr('href', pageURL);
  });



  /* hide lightbox */
  $('.lightbox-close').on('click', function () {
    $(this).parent().fadeOut();
    // window.location.href = '/admin/crawlcontent/tasks'; //reset URL
  });

});

</script>

</body> 
</html>


