<!doctype html> 
<html lang="en"> 
<head>
    <%- include('0partials/01head'); -%>

    <!-- fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

    <%- include('0partials/05header'); -%>


<main class="container">

    <!-- search box -->
    <div class="jumbotron home-search">
        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">

                <p class="main_description hidden-xs">Always fresh ads in our database !</p>

                <!-- form -->
                <form action="/search" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">
 
                    <div class="form-group">
                    
                        <div class="col-sm-6">
                            <input type="text" name="q" id="q" value="" placeholder="I want ..." class="form-control">
                        </div>
    
    
                        <div class="col-sm-3">
                          <select name="category" id="category" class="form-control">
                                <option value="-1" style="color:silver">All categories</option>
                                <% GLOBfindads.categories.forEach(function (elem) { %>
                                <option value="<%= elem.id %>"><%= elem.category %></option>
                                <% }) %>
                          </select>
                        </div>

                        <div class="col-sm-3">
                          <select name="country" id="country" class="form-control">
                                <option value="-1" style="color:silver">All countries</option>
                                <% countries.forEach(function (elem, key) { %>
                                <option value="<%= key %>"><%= elem.name %></option>
                                <% }) %>
                          </select>
                        </div>

                    </div>


                    <div class="clearfix">&nbsp;</div>
                    <br>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="btn btn-default btn-lg" type="submit">
                                <span id="btn-txt">Go &amp; find!</span>
                            </button>
                        </div>
                    </div>

                </form>
                <!-- form -->

            </div>

        </div>
    </div>
    <!-- search box end -->


    <div class="row">

        <div class="col-sm-12 col-md-8">

            <div class="row directory">
                <div class="col-sm-12 ">
                    <h2><span>Browse Categories</span></h2>
                </div>
            </div>


            <section class="row directory">

                <div class="col-xs-12">
                    
                    <% GLOBfindads.categories.forEach(function (elem) { %>

                    <div class="directory-block col-sm-4 col-xs-6">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="<%= elem.fa %>"></i>
                            </div>
                            <div class="col-sm-9">
                                <h4><a href="/browse/<%= elem.category.replace(/\s/g, '-') %>-id<%= elem.id %>/"><%= elem.category %></a></h4>
                                <p>
                                    <% elem.subcats.forEach(function (elem2, key) { %>
                                    <a href="/browse/<%= elem.category.replace(/\s/g, '-') %>-id<%= elem.id %>/<%= elem2.replace(/\s/g, '-') %>-key<%= key %>/">
                                        <%= elem2 %>
                                    </a> &middot;
                                    <% }) %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <% }) %>

                </div>

            </section>

            

            <div class="clearfix">&nbsp;</div>
            <br><br>


            <section class="row directory-counties hidden-xs">
                <div class="col-sm-12">
                    
                    <div class="row directory">
                        <div class="col-sm-12 ">
                            <h2><span>Find Location</span></h2>
                        </div>
                    </div>
                    
                    <!-- tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li><a data-toggle="tab"  href="#usa">USA</a></li>
                        <li class="active"><a data-toggle="tab"  href="#gb">GB</a></li>
                        <li><a data-toggle="tab"  href="#gb">India</a></li>
                        
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">Other countries <b class="caret"></b></a>
                            <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu">
                                <li><a href="#">France</a></li>
                                <li><a href="#">Germany</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- tabs end -->

                    <!-- tab content -->
                    <div class="tab-content " id="myTabContent">
                                                
                        <!-- first tab -->
                        <div id="usa" class="tab-pane fade counties-pane">
                            
                            <div class="col-sm-4">
                                <div class="row directory-block">
                                    <div class="col-sm-12">
                                        <a href="listings.html">London</a><br>
                                        <a href="listings.html">Edinburgh</a><br>
                                        <a href="listings.html">Manchester</a><br>
                                        <a href="listings.html">Birmingham</a><br>
                                        <a href="listings.html">Glasgow</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row directory-block">
                                    <div class="col-sm-12">
                                        <a href="listings.html">Liverpool</a><br>
                                        <a href="listings.html">Bristol</a><br>
                                        <a href="listings.html">Oxford</a><br>
                                        <a href="listings.html">Cambridge</a><br>
                                        <a href="listings.html">Cardiff</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row directory-block">
                                    <div class="col-sm-12">
                                        <a href="listings.html">Liverpool</a><br>
                                        <a href="listings.html">Bristol</a><br>
                                        <a href="listings.html">Oxford</a><br>
                                        <a href="listings.html">Cambridge</a><br>
                                        <a href="listings.html">Cardiff</a><br>
                                    </div>
                                </div>
                            </div>
                                
                        </div>
                        <!-- first tab end -->

                        <!-- second tab -->
                        <div id="gb" class="tab-pane fade counties-pane in active">
                            
                            <div class="col-sm-4">
                                <div class="row directory-block">
                                    <div class="col-sm-12">
                                        <a href="listings.html">London2</a><br>
                                        <a href="listings.html">Edinburgh2</a><br>
                                        <a href="listings.html">Manchester2</a><br>
                                        <a href="listings.html">Birmingham</a><br>
                                        <a href="listings.html">Glasgow2</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row directory-block">
                                    <div class="col-sm-12">
                                        <a href="listings.html">Liverpool</a><br>
                                        <a href="listings.html">Bristol</a><br>
                                        <a href="listings.html">Oxford</a><br>
                                        <a href="listings.html">Cambridge</a><br>
                                        <a href="listings.html">Cardiff</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row directory-block">
                                    <div class="col-sm-12">
                                        <a href="listings.html">Liverpool</a><br>
                                        <a href="listings.html">Bristol</a><br>
                                        <a href="listings.html">Oxford</a><br>
                                        <a href="listings.html">Cambridge</a><br>
                                        <a href="listings.html">Cardiff</a><br>
                                    </div>
                                </div>
                            </div>
                                
                        </div>
                        <!-- second tab end -->


                    </div><!-- tab content end -->
                </div>
            </section>



        </div>

        <aside class="col-xs-12 col-md-4 ">
            
            <div class="row">

                <br class="hidden-xs">
                <br class="hidden-xs">
                <br class="hidden-xs">

                <!-- box latest searches -->
                <div class="col-xs-12 col-sm-4 col-md-12  col-lg-11 pull-right">
                    <div class="panel panel-default">
                        <div class="panel-heading">Latest Searches</div>

                        <ul class="list-group">
                        <% 
                            searchTerms.forEach(function (elem) {

                            //generate random font-size
                            var fontSize = Math.random()*20;
                            if (fontSize < 10) {
                              fontSize = 10;
                            } else if (fontSize > 16) {
                              fontSize = 16;
                            }
                        %>
                            <li class="list-group-item"><a href="<%= elem.url %>" style="font-size:<%= fontSize %>px;"><%= elem.term %>(<%= elem.results %>)</a></li>
                        <% }) %>
                        
                            <li class="list-group-item" style="text-align:right;"><a href="/search/terms/list/" class="link-info">See all...</a></li>
                        </ul>

                    </div>
                </div>
                <!-- box latest searches -->

                <!-- box latest ads -->
                <div class="col-xs-12 col-sm-4 col-md-12  col-lg-11 pull-right">
                    <div class="panel panel-default">
                        <div class="panel-heading">Latest Ads</div>

                        <ul class="list-group">
                        <% 
                            GLOBfindads.latestContent.forEach(function (elem) {
                            
                            var tit = elem.extract.title[2];
                            if (tit.length > 28) {
                                tit = tit.substring(0, 27) + '...';
                            }

                            var dat = elem.crawlDateTime.substring(0, 25);


                        %>
                            <li class="list-group-item">
                                <a href="#"><%= tit %></a>
                                <br><span style="font:8px Verdana;color:#888;float:right;"><%= dat %></span>
                            </li>
                        <% }) %>
                        
                            <li class="list-group-item" style="text-align:right;"><a href="/search/terms/list/" class="link-info">See all...</a></li>
                        </ul>

                    </div>
                </div>
                <!-- box latest ads -->


                <!-- box feautred ads -->
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-11 pull-right">
                    <div class="panel panel-default">
                        <div class="panel-heading">Featured Ads</div>
                        <div class="panel-body">
                            <div class="featured-gallery">

                                <div class="row">

                                    <div class="col-sm-6 col-xs-4 featured-thumbnail"  data-toggle="tooltip" data-placement="top"  title="Porsche Boxster S, 2.9 2dr reg Apr 2007 ">
                                        <a href="details.html" class="">
                                            <img alt="" src="img/120x60.gif" >
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top"  title="Please find my lost cat">
                                        <a href="details.html" class="">
                                            <img alt="" src="img/120x60.gif" >
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-4 featured-thumbnail"  data-toggle="tooltip" data-placement="top"  title="Porsche Boxster S, 2.9 2dr reg Apr 2007 ">
                                        <a href="details.html" class="">
                                            <img alt="" src="img/120x60.gif" >
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-4 featured-thumbnail"  data-toggle="tooltip" data-placement="top"  title="Porsche Boxster S, 2.9 2dr reg Apr 2007 ">
                                        <a href="details.html" class="">
                                            <img alt="" src="img/120x60.gif" >
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="list-group-item" style="text-align:right;"><a href="#" class="link-info">Post your ad here!</a></div>
                    </div>
                </div>
                <!-- box feautred ads end -->


            </div>

        </aside>
    </div>				

</main>


<%- include('0partials/20footer'); -%>


<script>
//button blink effect
setInterval(function () {
  $('#btn-txt').show();
  $('#btn-txt').fadeIn(800, function () {
    $(this).fadeOut(1300);
  });
}, 1300);

//input field focus
$('#q').focus();
</script>


</body>
</html>