<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../0partials/01head'); -%>

    
    <!-- Bootstrap Switch -->
    <link href="/bootstrap/switch/bootstrap-switch.min.css" rel="stylesheet">
    <script src="/bootstrap/switch/bootstrap-switch.min.js"></script>
    <script>
    $(document).ready(function(){
        //initialize bootstrap-switch (on, off switch)
        $('#cronStatus').bootstrapSwitch();
    });
    </script>


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Settings <small>Cron</small>
                        </h1>
                        
                        <ol class="breadcrumb">
                          <li>Settings</li>
                          <li><a href="/admin/settings/cron">Cron</a></li>
                        </ol>
                    </div>
                </div>
                <!-- Page Heading end -->

                <div class="clearfix">&nbsp;</div>
                <br><br>

                <!-- Switch -->
                <div class="col-sm-4 col-sm-offset-4 well">
                    <span style="font:15px Verdana;font-weight: bold;">Cron server status:</span> <input type="checkbox" name="cronStatus" id="cronStatus">
                    <br><br>
                    <p class="alert alert-info" id="info_msg"></p>
                    <br><br>
                    <a href="/admin/settings/cron/restart" class="btn btn-warning btn-lg" title="$pm2 restart ...">RESTART</a>
                    <a href="/admin/settings/cron/del" class="btn btn-danger btn-lg" title="$pm2 delete ...">DELETE</a>
                </div>
                <!-- Switch end -->

                <div class="clearfix">&nbsp;</div>
                <br>
                <br>
                <br>

                <!-- Cron procs -->
                <div class="col-sm-12">
                    <h4>Cron processes <small>($ps aux | grep -v grep | grep 1cron/cronInitCrawlers.js)</small></h4>
                    <pre style="min-height:100px"><%= cronProcs %></pre>
                </div>
                <!-- Cron procs end -->
                
                <div class="clearfix">&nbsp;</div>
                <br><br>

                <!-- PM2 procs -->
                <div class="col-sm-12">
                    <h4>PM2 processes <small>($pm2 list)</small></h4>
                    <pre style="min-height:100px"><%= pm2Procs.replace(/(\[32m)|(\[39m)|(\[37m)|(\[90m)|(\[35m)|(\[33m)/g, '') %></pre>
                </div>
                <!-- PM2 procs end -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


<script>
$(document).ready(function () {
    
    //determine cron status
    var cronStatus;
    var cronProcs = '<%= cronProcs.replace(/\n/g, ''); %>'

    if (cronProcs !== '') {
        cronStatus = 'Cron process is running!';
        $('#cronStatus').bootstrapSwitch('state', true);
    } else {
        cronStatus = 'Cron process is stopped!';
        $('#cronStatus').bootstrapSwitch('state', false);
    }

    $('#info_msg').text(cronStatus);



    //change cron status
    $('#cronStatus').on('switchChange.bootstrapSwitch', function (event, state) {
        //state can be true or false
        if (state) {
            window.location.href ='/admin/settings/cron/start';
        } else {
            window.location.href ='/admin/settings/cron/stop';
        }
    });


});
</script>



<script>
/* Bootstrap tooltip activation */
  $(document).ready(function(){
   var options = {
    placement: "top",
    delay: 800
   };
   $(".btn").tooltip(options);
  });
</script>

</body>
</html>
