<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../0partials/01head'); -%>

    
    <!-- Bootstrap Switch -->
    <link href="/bootstrap/switch/bootstrap-switch.min.css" rel="stylesheet">
    <script src="/bootstrap/switch/bootstrap-switch.min.js"></script>
    <script>
    $(document).ready(function(){
        //initialize bootstrap-switch (on, off switch)
        $('#nodeStatus').bootstrapSwitch();
    });
    </script>


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('../0partials/05top_menu'); -%>
            <%- include('../0partials/10left_menu'); -%>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Settings <small>Process Manager</small>
                        </h1>
                        
                        <ol class="breadcrumb">
                          <li>Settings</li>
                          <li><a href="/admin/settings/proc">Process Manager</a></li>
                        </ol>
                    </div>
                </div>
                <!-- Page Heading end -->

                Here is a list of PM2 and Linux processes.
                <br>More about PM2 find <a href="https://www.npmjs.com/package/pm2" target="_blank">here</a>.
                <br><br>It is obligatory to start crawler with: <b style="color:brown">pm2 start bin/www -n 'crawler'</b> command, otherwise this page will not work!
                <br>To kill all processes on port 3333 use: <b>fuser -n tcp -k 3333</b>

                <div class="clearfix">&nbsp;</div>
                <br><br>

                <!-- Switch -->
                <div class="col-sm-4 col-sm-offset-4 well">
                    <span style="font:15px Verdana;font-weight: bold;">PM2 Process:</span> <input type="checkbox" name="nodeStatus" id="nodeStatus">
                    <br><br>
                    <p class="alert alert-info" id="info_msg"></p>
                    <br><br>
                    <a href="/admin/settings/proc/restart" class="btn btn-warning btn-lg" title="$pm2 restart ...">RESTART</a>
                    <a href="/admin/settings/proc/del" class="btn btn-danger btn-lg" title="$pm2 delete ...">DELETE</a>
                </div>
                <!-- Switch end -->

                <div class="clearfix">&nbsp;</div>
                <br>
                <br>
                <br>

                <!-- Node procs -->
                <div class="col-sm-12">
                    <h4>Node processes <small>($ps aux | grep node)</small></h4>
                    <pre style="min-height:100px"><%= nodeProcs %></pre>
                </div>
                <!-- Node procs end -->
                
                <div class="clearfix">&nbsp;</div>
                <br><br>

                <!-- PM2 procs -->
                <div class="col-sm-12">
                    <h4>PM2 processes <small>($pm2 list)</small></h4>
                    <pre style="min-height:100px"><%= pm2Procs.replace(/(\[32m)|(\[39m)|(\[37m)|(\[90m)|(\[35m)|(\[33m)/g, '') %></pre>
                </div>
                <!-- PM2 procs end -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


<script>
$(document).ready(function () {
    
    //determine node status
    var nodeStatus;
    var nodeProcs = '<%= nodeProcs.replace(/\n/g, ''); %>'

    if (nodeProcs !== '') {
        nodeStatus = 'Node process is running!';
        $('#nodeStatus').bootstrapSwitch('state', true);
    } else {
        nodeStatus = 'Node process is stopped!';
        $('#nodeStatus').bootstrapSwitch('state', false);
    }

    $('#info_msg').text(nodeStatus);



    //change node status
    $('#nodeStatus').on('switchChange.bootstrapSwitch', function (event, state) {
        //state can be true or false
        if (state) {
            window.location.href ='/admin/settings/proc/start';
        } else {
            window.location.href ='/admin/settings/proc/stop';
        }
    });


});
</script>



<script>
/* Bootstrap tooltip activation */
  $(document).ready(function(){
   var options = {
    placement: "top",
    delay: 800
   };
   $(".btn").tooltip(options);
  });
</script>

</body>
</html>
